.guest-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  .guest-box {
    background-color: #E8E8E8;
    /* Gray background */
    border: 2px solid black;
    /* Black outline */
    padding: 20px;
    /* Inner spacing */
    border-radius: 5px;
    /* Optional: rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 70%; /* Adjust the percentage as needed */
    max-width: 600px; /* Optional: set a maximum width */
    min-width: 300px; /* Optional: set a minimum width */
    height: 45%; /* Adjust the height if needed */
  }

  
  