@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura.ttf");
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Optional: Prevents scrolling */
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
  }
  
  .title {
    color: #bf5701;
    font-size: 5em;
    font-family: Jura;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFA652;
    border-radius: 15px;
    margin: 0 10px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .tab.active {
    background-color: #FF8C00; /* Darker orange for the active tab */
  }
  
  .tab:focus {
    background-color: #FF8C00; /* Darker orange on focus */
  }
  
  .tab-contents {
    width: 80%;
    margin-top: 20px;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .search-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    background-color: #FFA652;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #FF8C00;
  }
  
  .results {
    width: 100%;
    text-align: center;
  }
  
  .results-content {
    margin-top: 10px;
  }
  
  .course-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .banner {
    width: 100%;
    background-color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  