@font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body, #root {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: 'Jura', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;